div{
    width: 100px;
    height:100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #ff5722;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 0 0 0 #ff5722,
                -5px 0 0 0 #03a9f4;
}