.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10PX 10PX;
}
.grid div{
    background-color: #2196f3;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one{
    grid-area: 6/1/7/4;
  
}
.two{
    grid-area: 2/1/3/3;
}

.five{
    grid-area: 3/2/6/4;
}

.eight{
    grid-area: 1/1/2/4;
}

