div{
    display: inline-block;
    padding: 5px;
    outline: 3px solid black;
    margin: 10px;
    background-color: rgb(197, 209, 219);
}
.shape1{
    border: 3px solid red;
}
.shape2{
    border-width: 3px;
    border-style: solid;
    border-color: blue green;   
}
.shape3{
    border-width: 3px;
    border-style: dashed;
    border-color:red green blue yellow;   
}