div{
    z-index: -1;
    width: 400px;
    text-align: center;
    font-size: 20px !important;  
    color: black !important;
    background-color: #eee !important;
    margin:auto;
    border: none !important;
    position: relative;
}
div::before{
    content: "elzero";
    position: absolute;
    z-index: 5;
    top: 0;
    padding: 10px;
    line-height: calc(100% + 20px);
    background-color: #eee;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
  
}