.parent{
    width: 900px;
    background-color: rgb(31, 123, 204);
}
.parent div{
    background-color: rgb(170, 201, 228);
    padding: 15px 0;
    text-align: center;
    margin-bottom: 15px;
}
.full{
    width: calc( ( 100% - 30px ) / 1 );
    margin-left: 15px;
    margin-top: 15px;
    float: left;
}
.third{
    width: calc( ( 100% - 60px ) / 3);
    float: left;
    margin-left: 15px;
}
p{
    clear: both;
}
.sec{
   width: calc( ( ( 100% - 45px ) / 2)); 
   margin-left: 15px;
   float: left;
}
.four{
    width: calc( ( ( 100% - 75px ) / 4) );
    margin-left: 15px;
    float: left;
}