*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    counter-reset: element-counter;
}
div{
   background-color: #eee; 
   border: 2px solid black;
   width: 100px;
   height: 100px;
   float: left;
   margin: 40px;
   border-radius: 50%;
   position: relative;
   box-shadow: -5px -5px 0 0 #e91e63,
   5px 5px 0 0#2196f3;
}
div::after{
    counter-increment: element-counter;
    content: counter(element-counter);
    background-color: black;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-top: -10px;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-left: -10px
}