div {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: hsl(271, 76%, 53%);
    margin: 10px;
}
.assign-1-shape-2 {
    background-color: rgb(138 44 226 /50%);
}
.assign-1-shape-3 {
    background-color: rgb(138 44 226 /10%);
}