*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.parent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.parent div{
    background-color: #eee;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/* mobile */
@media (max-width:767px){

}
/* medium */
@media (min-width:768px) and (max-width:991px) {
    h2{
        color: red;
    }
    .parent div{
        width: calc( 50% - 10px );
    }
}
/* large */
@media (min-width:992px){
    h2{
        color: rgb(9, 112, 112);
    }
    .parent div{
        width: calc( 25% - 10px );
    }
}

